mixin navPage(path, name, icon)
  li.nav-item(class=view===name?'active':'')
        a.nav-link(href=path)
          i.bi(class='bi-'+icon)
          |  #{name}
mixin navDetail(name, text, icon)
  li.nav-item.navbar-text.mx-1(class='text-'+text)
    i.bi(class='bi-'+icon)
    span(id=name)  ?

// nav start
nav#navbar.navbar.sticky-top.navbar-expand.navbar-dark.bg-dark.fixed-top
  .collapse.navbar-collapse
    ul.mr-auto.navbar-nav
      +navPage('/', 'index', 'house')
      +navPage('/enter', 'enter', 'door-open')
      +navPage('/game', 'game', 'play-circle')
      +navPage('https://github.com/dvirberlo/magic-bamba', 'Source on GitHub', 'cloud-download')
    // nav details
    if view==='game'
      ul#navDetails.navbar-nav(style='display: none;')
        +navDetail('light', 'warning', 'lightbulb')
        +navDetail('gem', 'info', 'gem')
        +navDetail('flower', 'danger', 'flower1')
        li.nav-item.navbar-text.ml-3
          i.bi.bi-person-fill
          span#navXp  ?
        li.nav-item.navbar-text.ml-2
          i.bi.bi-person-fill
          span#navUsername  ?
// nav end
