<!-- nav start -->
<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <ul class="mr-auto navbar-nav">
      <li class="nav-item <% if(page == "home"){ %> active <% } %> " >
        <a class="nav-link" href="/"><i class="bi bi-house"></i> Home</a>
      </li>
      <li class="nav-item <% if(page == "game"){ %> active <% } %> " >
        <a href="/game" class="nav-link"><i class="bi bi-play-circle"></i> Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/dvirberlo/magic-bamba" target="_blank"><i class="bi bi-cloud-download"></i> Source on GitHub</a>
      </li>
    </ul>
  </div>
</nav>
<!-- nav end -->