<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<% if(page == "home"){ %> active <% } %> " >
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="<% if(page == "game"){ %> active <% } %> " >
        <a href="/game"><span class="glyphicon glyphicon-play-circle"></span> Game</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/dvirberlo/magic-bamba"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
      </li>
    </ul>
  </div>
</nav>
