extends layout

block content
  #main.container
    #home
    #mission
        span#missionText
        button#enterMission.btn.btn-primary  Enter Mission
        button#anotherMission.btn.btn-secondary Another Mission
        script(src='/javascripts/game/loader.js')
