<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/header") %> 
  </head>
  <body>
    <%- include("partials/nav", {page: "game"}) %>
    <div class="container">
      <div id="login">
        <form action="" id="login">
          <input type="text" name="username" id="username" >
          <input type="password" name="password" id="password" >
        </form>
      </div>
      <span id="status"></span>
      <canvas id="game"></canvas>

    </div>
    <script src="/scripts/game.js"></script>
  </body>
</html>