extends layout

block content
  // canvas div
  #game.text-center
  #gameHome
    #mission
      span#missionText
      button#enterMission.btn.btn-primary  Enter Mission
      button#anotherMission.btn.btn-secondary Another Mission
      script(src='/javascripts/game.js')
