<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/header") %> 
  </head>
  <body>
    <%- include("partials/nav", {page: "game"}) %>
    <div class="container">
      <canvas id="game"></canvas>

    </div>
    <script src="/scripts/game.js"></script>
  </body>
</html>