<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/header") %> 
  </head>
  <body>
    <%- include("partials/nav", {page: "game"}) %>
    <div class="container">

    </div>
    <script scr="/scripts/game.js"></script>
  </body>
</html>