extends layout

block content
  .jumbotron.text-center
    .container
      a.lang-logo(href='/')
        img(src='/images/icon_big.png')
      h1 Adventure Game
      p This is a beloved nostalgic adventures game.
      a.btn.btn-lg.btn-primary.m-1(href='/game')
        i.bi.bi-play-circle
        |  Start Playing!
      a.btn.btn-lg.btn-secondary.m-1(href='https://github.com/dvirberlo/magic-bamba' target='_blank')
        i.bi.bi-cloud-download
        |  Source on GitHub
