extends layout

block content
  .container.pt-1.pt-sm-3.pt-md-5
    form#login.col-sm.container.m-1.p-3.p-lg-4.border.border-primary.rounded(action='/enter/form/login')
      p Log In
      .form-group
        label(for='username') Username
        input#username.form-control(type='text' placeholder='Username' name='username')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password' placeholder='Password' name='password')
      button.btn.btn-primary Log In
      label#error.form-text.text-danger= error
      .form-group
        | Don't have an account? 
        a.ml-auto.mr-0(href='./signup') Sign Up
