#home.row
  #mission.col.border.rounded.p-3
      span#missionText
      .container.row
        button#missionEnter.btn.btn-primary.m-1.col  Enter Mission
        button#missionAnother.btn.btn-secondary.m-1.col Another Mission
  #somethingElse.col.border.rounded.p-2
