#pixi
  #pixiView.text-center
  #bar
    #mapBar.row
      button#mapRoll.btn.btn-primary.col Roll Cube
      label#mapCube.text-center.text-info.col 0
      button#mapQuit.btn.btn-danger.col Quit
    #arenaBar.row
      button#arenaQuit.btn.btn-danger.col Quit
