#pixi
  #pixiView.text-center
  #bar
    #mapBar.row
      button#mapRoll.btn.btn-primary.col Roll Cube
      label#mapCube.text-center.text-info.col 0
      button#mapQuit.btn.btn-danger.col Quit
    #arenaBar.row
      .col#arenaPlayer.text-success
        label#arenaPlayerName.text-center.row Player
        .row
          label.text-center.col HP
          label#arenaPlayerHP.text-center.col ?
      .col#arenaEnemy.text-danger
        label#arenaEnemyName.text-center.row Enemy
        .row
          label.text-center.col HP
          label#arenaEnemyHP.text-center.col ?
