<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/header") %> 
  </head>
  <body>
    <%- include("partials/nav", {page: "game"}) %>
    <!-- progress bar -->
    <div id="loadingMenu" class="container pt-1 pt-sm-3 pt-md-5">
      <div class="progress">
        <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="1" style="width: 1%">1%</div>
      </div>
      <p id="status" class="text-center"></p>
    </div>
    <!-- signup_login -->
    <div id="signup_login" class="container pt-1 pt-sm-3 pt-md-5">
      <div class="row">
        <!--signup-->
        <div id="signupMenu" class="col-sm container m-1 p-3 p-lg-4 border border-primary rounded">
          <form id="signup">
            <p>Sign Up</p>
            <div class="form-group">
              <label for="signupUsername">Username</label>
              <input class="form-control" type="text" id="signupUsername" placeholder="Username">
              <small id="signupUsernameStatus" class="form-text"><i id="signupUsernameIcon"></i> <b id="signupUsernameBold"></b><span id="signupUsernameText"></span></small>
            </div>
            <div class="form-group">
              <label for="signupPassword">Password</label>
              <input class="form-control" type="password" id="signupPassword" placeholder="Password">
            </div>
            <button id="signupBtn" type="button" class="btn btn-outline-primary">Sign Up</button>
          </form>
        </div>
        
        <!--login-->
        <div id="loginMenu" class="col-sm container m-1 p-3 p-lg-4 border border-primary rounded">
          <form id="login">
            <p>Log In</p>
            <div class="form-group">
              <label for="loginUsername">Username</label>
              <input class="form-control" type="text" id="loginUsername" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="loginPassword">Password</label>
              <input class="form-control" type="password" id="loginPassword" placeholder="Password">
            </div>
            <button id="loginBtn" type="button" class="btn btn-primary">Login</button>
            <small id="loginFormError" class="form-text text-danger"></small>
          </form>
        </div>

      </div>
    </div>
    <!-- canvas div -->
    <div id="game" class="text-center"></div>
    <div id="gameHome">
      <div id="mission">
        <span id="missionText"></span>
        <button id="enterMission" class="btn btn-primary"> Enter Mission</button>
        <button id="anotherMission" class="btn btn-secondary">Another Mission</button>
      </div>
    </div>
    <script src="/scripts/game.js"></script>
  </body>
</html>
